.item{ class: (eval(item.tags).join(' ').downcase unless item.tags.nil?),
       'data-id': item.id,
       'data-name': item.name }

  = item_image_tag(item.images.first, 'sprite')

  .info
    .name= item.name
    .cost= item.cost.total == 0 ? 'Free' : item.cost.total

  .item-tooltip
    = item_image_tag(item.images.first, 'sprite')
    = recipe_tree(item) unless item.from.nil?
    .name= item.name
    .cost #{item.cost.total}g
    .description= format_item_description(item.description)


