.item{ 'data-id': item.id, 'data-tags': (eval(item.tags).join(',') unless item.tags.nil?) }
  = item_image_tag(item.images.first, 'sprite')
  .cost= item.cost.total

  .item-tooltip
    = item_image_tag(item.images.first, 'sprite')
    .name= item.name
    .cost #{item.cost.total}g
    .description
      = format_item_description(item.description)
