.content
  .content-wrapper
    %section.champions
      %ul
        - @champions.each do |champion|
          %li
            %button.champion{ "data-id": champion.id }
              = champion_image_tag(champion.images.first, 'sprite')
              %span.name= champion.name

    %section.item-set-builder
      %header.champion.masthead{ 'data-id': @default_champion.id, 'data-key': @default_champion.key }
        = champion_image_tag(@default_champion.images.first)

        .details
          %h1.name= @default_champion.name
          %p.title= @default_champion.title
          %p.roles= eval(@default_champion.tags).join(', ')

      .row
        %section.item-set
          %h1.title
            %input{ value: 'Recommended', maxlength: 50, placeholder: 'Give your item set a title' }

          %article.blocks.col-xs-8
            - @default_champion.recommended_item_set.item_set_blocks.each do |block|
              %section.block
                %h1.name= block.block_type

                .items
                  - block.items.each do |item|
                    = render partial: 'shared/item', locals: { item: item }

          %article.builds.col-xs-4
            %h1 Builds

            %section.build
              - (1..6).each do |i|
                .item

      %section.json
        %button.btn.btn-primary.create-button Create Item Set
        .path
        %pre.json-output

  = render partial: 'item_store'

:coffee
  $ -> view = new LoLA.Views.Home()
