.content.store-open
  .content-wrapper
    %header.site-header
      %h1 LoL Armory
      .patch Patch #{Rails.application.config.version}

      %p Welcome to LoLArmory created for the Riot API Challenge 2.0. Build and inspect custom item sets from anywhere! Choose a champ or customize the item set below.

    %section.champions
      %header
        %h1
          %span.caret
          Choose a Champion
        = render partial: 'shared/search'

      %ul
        - @champions.each do |champion|
          %li.active
            %button.champion{ class: "#{champion.name.downcase} #{eval(@default_champion.tags.downcase).join(' ')}", 'data-id': champion.id }
              = champion_image_tag(champion.images.first, 'sprite')
              %span.name= champion.name

    %section.item-set-builder
      %header.champion.masthead{ 'data-id': @default_champion.id, 'data-key': @default_champion.key }
        .image-border
          .image{ style: "background-image: url(#{Rails.application.config.image_url}champion/#{@default_champion.images.first.full})" }

        .details
          %h1.name= @default_champion.name
          %p.title= @default_champion.title
          %p.roles= eval(@default_champion.tags).join(', ')

      %section.item-set.row
        %h1
          %input.set-title{ value: 'Recommended', maxlength: 50, placeholder: 'Give your item set a title' }

        %article.builds.col-xs-4
          %h1 Sample Build
          %p Drag items from your item set to inspect your final build.

          %section.build

          %article.stats
            %h2 Stat Gains
            .list

        %article.blocks.col-xs-8
          - @default_champion.recommended_item_set.item_set_blocks.each do |block|
            %section.block
              %h1
                %input.block-title{ value: block.block_type, 'data-title': block.block_type, maxlength: 50, placeholder: 'Block Title' }

              .items
                - block.items.each do |item|
                  = render partial: 'shared/item', locals: { item: item }

      %section.json
        %button.create-button Create Item Set
        .path
        %pre.json-output

    %footer
      .legal LoL Armory isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy; Riot Games, Inc.

      .links
        .copyright &copy; 2015 LoLArmory.net
        = link_to 'GitHub', 'https://github.com/tracyfu/lol-armory', class: 'github link'
        = link_to 'Nummycakes', 'http://na.op.gg/summoner/userName=nummycakes', class: 'opgg link'
        = link_to 'Donate', 'https://venmo.com/?txn=pay&recipients=TracyFu&note=LoLArmory.net&audience=private', class: 'venmo link'
        = mail_to 'nummycakes@gmail.com', 'Contact', class: 'contact link'
        = link_to 'Riot Hire Me!', 'https://www.linkedin.com/in/tracyrfu', class: 'linkedin link'

  = render partial: 'store'

:coffee
  $ -> view = new LoLA.Views.Home()
