%section.champions
  %ul
    - @champions.each do |champion|
      %li
        %button.champion{ "data-id": champion.id }
          = champion_image_tag(champion.images.first, 'sprite')
          %span.name= champion.name

%header.champion.masthead{ "data-key": @default_champion.key }
  = champion_image_tag(@default_champion.images.first)

  .details
    %h1.name= @default_champion.name
    %p.title= @default_champion.title
    %p.roles= eval(@default_champion.tags).join(', ')

%section.item-set
  %h1 Recommended

  - @default_champion.recommended_item_set.item_set_blocks.each do |block|
    %section.block
      %h1= block.block_type.gsub('jungle', ' jungle').humanize

      - block.items.each do |item|
        .item{ "data-id": item.id, "data-toggle": 'popover' }
          = item_image_tag(item.images.first)

          .item-tooltip
            = item_image_tag(item.images.first, 'sprite')
            .name= item.name
            .cost #{item.cost.total}g
            .description= format_item_tooltip(item.description)

%section.json
  %button.btn.btn-primary.create-button Create Item Set

  .path

  %pre.json-output

:coffee
  $ -> view = new LoLA.Views.Home()
