%table
  %tbody
    - @items.each do |item|
      %tr
        %td= item.id
        %td= item_image_tag(item.images.first)
        %td= item.name
        %td= item.description
        %td= format_item_description(item.description)
