<div class="item" data-id="<%= id %>" data-toggle="popover">
  <img src="<%= image %>" class="image">

  <div class="item-tooltip">
    <img src="<%= image %>" class="image">
    <div class="name"><%= name %></div>
    <div class="cost"><%= cost %>g</div>
    <div class="description"><%= description %></div>
  </div>
</div>
