<div class="item <%= classes %>" data-id="<%= id %>" data-name="<%= name %>">
  <div class="image" style="background: url('<%= image %>') <%= imageX %> <%= imageY %>; width: <%= imageW %>px; height: <%= imageH %>px;"></div>

  <div class="info">
    <div class="cost"><%= cost %></div>
  </div>

  <div class="actions">
    <button class="remove-button">&times;</button>
  </div>

  <div class="item-tooltip">
    <div class="image" style="background: url('<%= image %>') <%= imageX %> <%= imageY %>; width: <%= imageW %>px; height: <%= imageH %>px;"></div>
    <%= recipe %>
    <div class="name"><%= name %></div>
    <div class="cost"><%= cost == 0 ? 'Free' : cost %></div>
    <div class="description"><%= description %></div>
  </div>
</div>
